form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submit-btn {
  background-color: darkgray;
  color: black;
  font-weight: bolder;
  align-self: flex-start;
}

textarea {
  border-radius: 5px;
}
