body {
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  color: rgb(255, 156, 120);
}

h3 {
  margin: 5px 0;
}

.submit-btn {
  background-color: darkgray;
  color: black;
  font-weight: bolder;
  align-self: flex-start;
}

#user > h2 {
  color: rgb(255, 68, 0);
}

.username {
  text-transform: uppercase;
  color: orangered;
}

textarea {
  border-radius: 5px;
}

p {
  margin-bottom: 0;
}

ul,
li {
  margin: 0;
}
